@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button.btn-blue {
   background-color: rgb(63, 105, 240);
}

button.btn-delete {
  background-color: rgb(251, 7, 7);
}


Button.Button-blue{
  background-color: #1a73e8;
}
Button.Button-red{
  background-color: red;

}

